Gluttonous/Gluttonous.vcxproj.user
Win32/Release/Gluttonous.exp
Win32/Release/Gluttonous.lib
Win32/Release/Snaqe.exe
Gluttonous.sdf
Gluttonous.v12.suo
ipch/gluttonous-3d53e5e6/gluttonous-d36ec9d0.ipch
Gluttonous/Debug/AI.obj
Gluttonous/Debug/astar.obj
Gluttonous/Debug/BFS.obj
Gluttonous/Debug/game.obj
Gluttonous/Debug/Gluttonous.log
Gluttonous/Debug/gluttonous.obj
Gluttonous/Debug/Gluttonous.pch
Gluttonous/Debug/GLWidget.obj
Gluttonous/Debug/Hamilton.obj
Gluttonous/Debug/Icon.res
Gluttonous/Debug/main.obj
Gluttonous/Debug/moc_gluttonous.obj
Gluttonous/Debug/moc_GLWidget.obj
Gluttonous/Debug/snake.obj
Gluttonous/Debug/stdafx.obj
Gluttonous/Debug/vc120.pdb
Gluttonous/Debug/Gluttonous.tlog/cl.command.1.tlog
Gluttonous/Debug/Gluttonous.tlog/CL.read.1.tlog
Gluttonous/Debug/Gluttonous.tlog/CL.write.1.tlog
Gluttonous/Debug/Gluttonous.tlog/custombuild.command.1.tlog
Gluttonous/Debug/Gluttonous.tlog/custombuild.read.1.tlog
Gluttonous/Debug/Gluttonous.tlog/custombuild.write.1.tlog
Gluttonous/Debug/Gluttonous.tlog/Gluttonous.lastbuildstate
Gluttonous/Debug/Gluttonous.tlog/link.command.1.tlog
Gluttonous/Debug/Gluttonous.tlog/link.read.1.tlog
Gluttonous/Debug/Gluttonous.tlog/link.write.1.tlog
Gluttonous/Debug/Gluttonous.tlog/rc.command.1.tlog
Gluttonous/Debug/Gluttonous.tlog/rc.read.1.tlog
Gluttonous/Debug/Gluttonous.tlog/rc.write.1.tlog
Gluttonous/GeneratedFiles/Debug/moc_gluttonous.cpp
Gluttonous/GeneratedFiles/Debug/moc_GLWidget.cpp
Gluttonous/GeneratedFiles/Release/moc_gluttonous.cpp
Gluttonous/GeneratedFiles/Release/moc_GLWidget.cpp
Gluttonous/Release/AI.obj
Gluttonous/Release/astar.obj
Gluttonous/Release/BFS.obj
Gluttonous/Release/game.obj
Gluttonous/Release/Gluttonous.Build.CppClean.log
Gluttonous/Release/Gluttonous.log
Gluttonous/Release/gluttonous.obj
Gluttonous/Release/Gluttonous.pch
Gluttonous/Release/GLWidget.obj
Gluttonous/Release/Hamilton.obj
Gluttonous/Release/Icon.res
Gluttonous/Release/main.obj
Gluttonous/Release/moc_gluttonous.obj
Gluttonous/Release/moc_GLWidget.obj
Gluttonous/Release/snake.obj
Gluttonous/Release/stdafx.obj
Gluttonous/Release/Gluttonous.tlog/cl.command.1.tlog
Gluttonous/Release/Gluttonous.tlog/CL.read.1.tlog
Gluttonous/Release/Gluttonous.tlog/CL.write.1.tlog
Gluttonous/Release/Gluttonous.tlog/custombuild.command.1.tlog
Gluttonous/Release/Gluttonous.tlog/custombuild.read.1.tlog
Gluttonous/Release/Gluttonous.tlog/custombuild.write.1.tlog
Gluttonous/Release/Gluttonous.tlog/Gluttonous.lastbuildstate
Gluttonous/Release/Gluttonous.tlog/Gluttonous.write.1u.tlog
Gluttonous/Release/Gluttonous.tlog/link.command.1.tlog
Gluttonous/Release/Gluttonous.tlog/link.read.1.tlog
Gluttonous/Release/Gluttonous.tlog/link.write.1.tlog
Gluttonous/Release/Gluttonous.tlog/rc.command.1.tlog
Gluttonous/Release/Gluttonous.tlog/rc.read.1.tlog
Gluttonous/Release/Gluttonous.tlog/rc.write.1.tlog
Win32/Debug/Gluttonous.exe
Win32/Debug/Gluttonous.ilk
Win32/Debug/Gluttonous.pdb
ipch/gluttonous-3d53e5e6/gluttonous-134c1b8a.ipch
Snaqe/debug/Snaqe.pdb
Snaqe/Makefile
Snaqe/Makefile.Debug
Snaqe/Makefile.Release
Snaqe/debug/AI.obj
Snaqe/debug/astar.obj
Snaqe/debug/BFS.obj
Snaqe/debug/game.obj
Snaqe/debug/gluttonous.obj
Snaqe/debug/gluttonous.pdb
Snaqe/debug/GLWidget.obj
Snaqe/debug/Hamilton.obj
Snaqe/debug/main.obj
Snaqe/debug/moc_gluttonous.cpp
Snaqe/debug/moc_GLWidget.cpp
Snaqe/debug/snake.obj
Snaqe/debug/stdafx.obj
Gluttonous.opensdf
Snaqe/debug/icudt53.dll
Snaqe/debug/icuin53.dll
Snaqe/debug/icuuc53.dll
Snaqe/debug/moc_screen.cpp
Snaqe/debug/moc_screen.obj
Snaqe/debug/moc_snaqe.cpp
Snaqe/debug/moc_snaqe.obj
Snaqe/debug/qt_ca.qm
Snaqe/debug/qt_cs.qm
Snaqe/debug/qt_de.qm
Snaqe/debug/qt_fi.qm
Snaqe/debug/qt_hu.qm
Snaqe/debug/qt_it.qm
Snaqe/debug/qt_ja.qm
Snaqe/debug/qt_ko.qm
Snaqe/debug/qt_lv.qm
Snaqe/debug/qt_ru.qm
Snaqe/debug/qt_sk.qm
Snaqe/debug/qt_uk.qm
Snaqe/debug/Qt5Cored.dll
Snaqe/debug/Qt5Guid.dll
Snaqe/debug/Qt5Svgd.dll
Snaqe/debug/Qt5Widgetsd.dll
Snaqe/debug/screen.obj
Snaqe/debug/Snaqe.exe
Snaqe/debug/Snaqe.ilk
Snaqe/debug/snaqe.obj
Snaqe/debug/iconengines/qsvgicond.dll
Snaqe/debug/imageformats/qddsd.dll
Snaqe/debug/imageformats/qgifd.dll
Snaqe/debug/imageformats/qicnsd.dll
Snaqe/debug/imageformats/qicod.dll
Snaqe/debug/imageformats/qjp2d.dll
Snaqe/debug/imageformats/qjpegd.dll
Snaqe/debug/imageformats/qmngd.dll
Snaqe/debug/imageformats/qsvgd.dll
Snaqe/debug/imageformats/qtgad.dll
Snaqe/debug/imageformats/qtiffd.dll
Snaqe/debug/imageformats/qwbmpd.dll
Snaqe/debug/imageformats/qwebpd.dll
Snaqe/debug/platforms/qwindowsd.dll
Snaqe/GeneratedFiles/qrc_Snaqe.cpp
Snaqe/GeneratedFiles/ui_Snaqe.h
Snaqe/GeneratedFiles/Release/moc_screen.cpp
Snaqe/GeneratedFiles/Release/moc_Snaqe.cpp
Snaqe/release/game.obj
Snaqe/release/Icon.res
Snaqe/release/main.obj
Snaqe/release/moc_screen.obj
Snaqe/release/moc_Snaqe.obj
Snaqe/release/qrc_Snaqe.obj
Snaqe/release/qt_work.log
Snaqe/release/screen.obj
Snaqe/release/Snaqe.Build.CppClean.log
Snaqe/release/Snaqe.log
Snaqe/release/Snaqe.obj
Snaqe/release/Snaqe.tlog/cl.command.1.tlog
Snaqe/release/Snaqe.tlog/CL.read.1.tlog
Snaqe/release/Snaqe.tlog/link.command.1.tlog
Snaqe/release/Snaqe.tlog/link.read.1.tlog
Snaqe/release/Snaqe.tlog/link.write.1.tlog
Snaqe/release/Snaqe.tlog/moc.read.1u.tlog
Snaqe/release/Snaqe.tlog/moc.write.1u.tlog
Snaqe/release/Snaqe.tlog/rc.command.1.tlog
Snaqe/release/Snaqe.tlog/rc.read.1.tlog
Snaqe/release/Snaqe.tlog/rc.write.1.tlog
Snaqe/release/Snaqe.tlog/rcc.read.1u.tlog
Snaqe/release/Snaqe.tlog/rcc.write.1u.tlog
Snaqe/release/Snaqe.tlog/Snaqe.lastbuildstate
Snaqe/release/Snaqe.tlog/Snaqe.write.1u.tlog
Snaqe/release/Snaqe.tlog/uic.read.1u.tlog
Snaqe/release/Snaqe.tlog/uic.write.1u.tlog
Win32/Release/Snaqe.exp
Win32/Release/Snaqe.lib
Snaqe.v12.suo
Snaqe.sdf
Snaqe/debug/Icon.res
Snaqe/debug/qrc_Snaqe.obj
Snaqe/debug/qt_work.log
Snaqe/debug/Snaqe.Build.CppClean.log
Snaqe/debug/Snaqe.log
Snaqe/debug/vc120.pdb
Snaqe/debug/Snaqe.tlog/cl.command.1.tlog
Snaqe/debug/Snaqe.tlog/CL.read.1.tlog
Snaqe/debug/Snaqe.tlog/cl.write.1.tlog
Snaqe/debug/Snaqe.tlog/link.command.1.tlog
Snaqe/debug/Snaqe.tlog/link.read.1.tlog
Snaqe/debug/Snaqe.tlog/link.write.1.tlog
Snaqe/debug/Snaqe.tlog/moc.read.1u.tlog
Snaqe/debug/Snaqe.tlog/moc.write.1u.tlog
Snaqe/debug/Snaqe.tlog/rc.command.1.tlog
Snaqe/debug/Snaqe.tlog/rc.read.1.tlog
Snaqe/debug/Snaqe.tlog/rc.write.1.tlog
Snaqe/debug/Snaqe.tlog/rcc.read.1u.tlog
Snaqe/debug/Snaqe.tlog/rcc.write.1u.tlog
Snaqe/debug/Snaqe.tlog/Snaqe.lastbuildstate
Snaqe/debug/Snaqe.tlog/Snaqe.write.1u.tlog
Snaqe/debug/Snaqe.tlog/uic.read.1u.tlog
Snaqe/debug/Snaqe.tlog/uic.write.1u.tlog
Snaqe/GeneratedFiles/Debug/moc_screen.cpp
Snaqe/GeneratedFiles/Debug/moc_Snaqe.cpp
Win32/Debug/Snaqe.exe
Win32/Debug/Snaqe.ilk
Win32/Debug/Snaqe.pdb
Snaqe.opensdf
Win32/Debug/snaqe.exp
Win32/Debug/snaqe.lib
Snaqe/debug/*
Snaqe/release/*
Snaqe/Debug/*
Snaqe/Release/*
Debug/*
Release/*
.vs/*
__pycache__/*
rename.sh
